@import 'variables';
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
$roboto-cond: 'Roboto Condensed', serif;

/* Overall styling */
body {
  font-family: $roboto-cond;
  font-weight: normal;
}

/* Input styling */
* { outline: none; }

/* Link Styling */
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  color: $link-light;
  text-decoration: none;
}

#{$a-tags-hover} {
  color: $link-dark;
  text-decoration: none;
}

/* Font sizing */
.lg-text { font-size: 30px; }
.md-text { font-size: 24px; }
.sm-text { font-size: 16px; }
