@import 'variables';
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
$roboto-cond: 'Roboto Condensed', serif;

/* Over-all */
html, body {
  margin: 0;
}

/* Overall styling */
* {
  font-family: $roboto-cond;
  font-weight: normal;
  outline: none;
}

/* Link styling */
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  color: $link-light;
  text-decoration: none;
}

#{$a-tags-hover} {
  color: $link-dark;
  text-decoration: none;
}
