@import 'variables';
@import url(https://fonts.googleapis.com/css?family=Maitree:400,500,700);
$maitree: 'Maitree', sans-serif;

/* Over-all */
html, body {
  margin: 0;
  background-color: $off-white;
}

/* Overall styling */
* {
  font-family: $maitree;
  font-weight: normal;
  outline: none;
}

/* Link styling */
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  color: $link-light;
  text-decoration: none;
}

#{$a-tags-hover} {
  color: $link-dark;
  text-decoration: none;
}
