@import 'variables';

.category-bar {
  color: white;
  display: flex;

  .category-label {
    float: left;
    padding-right: 8px;
    height: 100%;
    margin: auto 0;
    font-weight: 700;
  }

  .category-list {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 4px;
  }

  .category-item {
    float: left;
    margin: 4px;
    padding: 6px 0px 6px 6px;
    background-color: $color-5;
    border-radius: $border-radius;

    span {
      padding-right: 2px;
      font-weight: 500;
    }

    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: rgba(255, 255, 255, 0.8);
    }

    button:hover {
      color: white;
    }
  }

  .category-add {
    position: relative;
    cursor: pointer;
    padding: 6px 6px 6px 0px;
    background-color: rgba(255, 255, 255, 0.1);;
    width: 140px;

    button {
      cursor: inherit;
      color: white;
    }

    input {
      @extend .sm-text;
      color: white;
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
      width: 110px;
    }

    ::-webkit-input-placeholder { /* Chrome */
      color: rgba(255, 255, 255, 0.5)
    }

    :-ms-input-placeholder { /* IE 10+ */
      color: rgba(255, 255, 255, 0.5)
    }

    ::-moz-placeholder { /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.5)
    }

    :-moz-placeholder { /* Firefox 4 - 18 */
      color: rgba(255, 255, 255, 0.5)
    }

    .suggestion-list {
      width: auto;
      color: black;
      font-weight: 300;
    }
  }

  .category-add:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
