@import 'variables';

/* Detail view */
.detail {
  position: absolute;
  min-width: 200px;
  min-height: 200px;
  background: $color-4;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.top-line {
  width: 100%;
  height: 10px;
  background: $color-3;
}

/* Detail contents flex-container */
.detail-contents-container {
  display: flex;
  padding: 10px;
}
