@import 'variables';

.event-detail-container {
  position: relative;
  display: flex;
  padding: 10px 0px;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid $border-gray;
}

.event-detail-img {
  width: 10%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }

  @include respond-to(handhelds) {
    display: none;
  }
}

.event-detail-text-container {
  width: 85%;
  margin-left: 5%;

  @include respond-to(handhelds) {
    width: 100%;
    margin-left: 0%;
  }
}

.event-detail-title {
  @extend .md-text;
  @include respond-to(handhelds) {
    font-size: 16px;
  }
}

.event-detail-venue {
  @extend .sm-text;
  width: 100%;
  @include respond-to(handhelds) {

  }
  flex-direction: column;
  align-content: flex-start;

  color: gray;

  p {
    padding: 1px;
    margin: 0px;
  }
}

.event-detail-description {
  @extend .sm-text;
  margin-top: 15px;
  width: 100%;
  max-height: 40px;
  overflow: hidden;
}

.event-detail-dismiss {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  @include button-hover(transparent, $dark-gray, transparent, $light-gray);
}

.event-detail-title .event-detail-title:hover, .event-detail-title:link, .event-detail-title:visited, .event-detail-title:active {
  color: $black;
  text-decoration: none;
}
