@import 'variables';

.event-detail-container {
  position: relative;
  display: flex;
  padding: 10px 0px;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid $border-gray;
}

.event-detail-img {
  width: 10%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }

  @include respond-to(handhelds) {
    display: none;
  }
}

.event-detail-text-container {
  display: grid;
  width: 85%;
  margin-left: 5%;

  @include respond-to(handhelds) {
    width: 100%;
    margin-left: 0%;
  }
}

.event-detail-title {
  @extend .md-text;
  @include respond-to(handhelds) {
    font-size: 16px;
  }
}

.event-detail-date {
  display: inline-flex;
  color: gray;
}

.event-date-icon {
  background: url('../images/TimeIcon.png');
}

.event-detail-venue {
  @extend .sm-text;
  display: inline-flex;
  width: 100%;
  @include respond-to(handhelds) {

  }
  align-content: flex-start;

  color: gray;

  p {
    padding: 1px;
    margin: 0px;
  }
}

.event-venue-icon {
  background: url('../images/LocationIcon.png');
}

.event-detail-stats {
  display: inline-flex;
  color: gray;
}

.event-stats-icon {
  background: url('../images/StatsIcon.png');
}

.icon {
  margin: auto 10px auto 0;
  background-size: 100% 100%;
  width: $icon-size;
  height: $icon-size;
}

.event-sub-info {
  margin: 15px 0;
}

.event-detail-description {
  @extend .sm-text;
  width: 100%;
  // max-height: 40px;
  // overflow: hidden;

  h3 {
    margin: 10px 0;
    font-weight: 500;
  }
}

.event-detail-dismiss {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  @include button-hover(transparent, $dark-gray, transparent, $light-gray);
}

.event-detail-title .event-detail-title:hover, .event-detail-title:link, .event-detail-title:visited, .event-detail-title:active {
  color: $black;
  text-decoration: none;
}

.event-detail-title:hover {
  text-decoration: underline;
}

.event-detail-categ {
  @extend .sm-text;
  margin: 10px;
  padding: 4px 10px;
  color: $color-4;
  background-color: $off-white;
  border-radius: $border-radius;
}

mark {
  padding: 0 3px;
  border-radius: 3px;
}

.marked-word {
  background-color: $color-1;
}

.marked-categ {
  color: white;
  background-color: $color-2;
  padding: 4px 10px;
}

.no-categ {
  padding: 0;
}

.event-detail-features {
  margin: 20px 20px 10px 0;
}

.features {
  margin-right: 10px;
  padding: 2px 6px;
  color: $color-4;
  background-color: white;
  border-radius: $border-radius;
  border: 1px solid $color-4;
}
