@import 'variables';

.event-detail-container {
  position: relative;
  display: flex;
  margin: 0px 10px 0px 10px;
  padding: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid $border-gray;
  flex-basis: 80%;
  transition: $transition-duration;
  &:hover {
    background-color: $ultra-light-gray;
  }
}

.event-detail-title {
  @extend .md-text;
  flex-basis: 90%;
  @include respond-to(handhelds) {
    flex-basis: 80%;
  }
}

.event-detail-venue {
  @extend .sm-text;
  flex-basis: 100%;
  @include respond-to(handhelds) {

  }
  flex-direction: column;
  align-content: flex-start;

  color: gray;

  p {
    padding: 1px;
    margin: 0px;
  }
}

.event-detail-description {
  @extend .sm-text;
  margin-top: 15px;
  flex-basis: 100%;
  max-height: 40px;
  overflow: hidden;
}

.event-detail-dismiss {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  @include button-hover(transparent, black, transparent, $light-gray);
}
