@import 'variables';

.event-detail-list-container {
  padding: 0px;
}

.event-detail-list-title {
  @extend .lg-text;
  padding: 40px 0px 20px 0px;

  @include respond-to(handhelds) {
    font-size: 24px;
  }
}

.event-detail-list-content {
  display: flex;
  flex-direction: column;
}
