@import 'variables';

.event-detail-list-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.event-detail-list-title {
  @extend .lg-text;
  padding: 10px 0px;
}

.event-detail-list-content {
  display: flex;
  flex-direction: column;
}
