/* Variables */
@import 'variables';

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
$roboto-cond: 'Roboto Condensed', serif;

/* Overall styling */
body {
  font-family: $roboto-cond;
  font-weight: normal;
}

/* Input styling */
* { outline: none; }

/* Link Styling */
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  color: $link-light;
  text-decoration: none;
}

#{$a-tags-hover} {
  color: $link-dark;
  text-decoration: none;
}

/* Font sizing */
.lg-text { font-size: 30px; }
.md-text { font-size: 24px; }
.sm-text { font-size: 16px; }


/* Button Styling */
.button {
  display: inline-block;
  border: none;
  text-align: center;
  border-radius: 0px;

  transition: all 0.2s ease;
  transition-property: color, background;
  background: $color-3;
  color: white;

  &:hover {
    transition: all 0.2s ease;
    transition-property: color, background;
    color: $color-4;
    background: $color-2;
  }

}
