@import 'variables';

.map {
  border: 1px solid $border-gray;
  width: 300px;
  height: 400px;
  @include respond-to(handhelds) { display: none; }
  @include respond-to(medium-screens) { display: none; }
}
