@import 'variables';

.map-marker {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 5;
  top: 5;
  border: 2px solid $color-3;
  border-radius: 10px;
  background-color: $color-4;
  text-align: center;
}

.map-marker-tool-tip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.2s;
}

.map-marker:hover .map-marker-tool-tip {
  visibility: visible;
  opacity: 1;
}
