@import 'variables';

.navbar-container {
  z-index: 100;
  display: flex;
  background: $color-3;
  align-items: baseline;
  padding: 0% 10%;
}

.brand-item {
  @extend .md-text;
  display: flex;
  flex-basis: 15%;
  @include respond-to(handhelds) {
    flex-basis: 0%;
    display: none;
  }
  @include respond-to(medium-screens) {
    font-size: 18px;
  }
}

.search-item {
  display: flex;
  padding-top: 16px;
  height: 60%;
  flex-basis: 80%;
  justify-content: flex-start;
  @include respond-to(handhelds) {
    flex-basis: 100%;
  }
}

.navbar-links-container {
  display: flex;
  list-style: none;
  flex-basis: 5%;
  justify-content: flex-end;
  @include respond-to(handhelds) {
    flex-basis: 0%;
    display: none;
  }
}

.link-item {
  @extend .sm-text;
  display: block;
}
