@import 'variables';

.navbar-container {
  display: flex;
  background: $color-3;
  align-items: center;
  height: 65px;
  padding: 0% 10%;
}

.brand-item {
  @extend .md-text;
  margin-left: 20px;
  display: flex;
  flex-basis: 10%;
  @include respond-to(handhelds) {
    display: none;
  }
  @include respond-to(medium-screens) {
    flex-basis: 20%;
  }
  min-width: 120px;
}

.search-item {
  display: flex;
  height: 60%;
  flex-basis: 80%;
  justify-content: flex-start;
  @include respond-to(handhelds) {
    flex-basis: 90%;
  }
  @include respond-to(medium-screens) {
    flex-basis: 70%;
  }
}

.navbar-links-container {
  display: flex;
  list-style: none;
  flex-basis: 10%;
  justify-content: flex-end;
  margin-right: 20px;
}

.link-item {
  @extend .sm-text;
  display: block;
}
