@import 'variables';

/* Navbar flex-container */
.navbar-container {
  display: flex;
  width: 100%;
  background: $color-4;
  align-items: baseline;
}

.item {
  margin-left: 20px;
  margin-right: 20px;
}

/* Brand flex-item */
.brand-item {
  @extend .md-text;
  @extend .item;
  display: block;
  width: 30%;
}

/* Navbar links flex-container */
.navbar-links-container {
  display: flex;
  list-style: none;
  flex-basis: 70%;
  justify-content: flex-end;
}

/* Navbar link flex-item */
.link-item {
  @extend .sm-text;
  @extend .item;
  display: block;
}
