@import 'variables';

.results-header {
  margin: 0% 10%;
  color: gray;
}

.results {
  padding: 0% 10%;
  background-color: white;
}

.result-text-card-lists {
  display: flex;
  flex-direction: row;
}

.result-tags {
  flex-basis: 50%;
}

.result-times {
  flex-basis: 50%;
}
