@import 'variables';

.search-container {
  width: 100%;
}

.search {
  width: 100%;
  height: 44px;
  position: relative;
  display: flex;
}

.bar {
  @extend .sm-text;
  height: 100%;
  width: 90%;
  border: none;
  display: flex;
  border-radius: $border-radius 0px 0px $border-radius;
  padding: 0px 10px;
  position: relative;
}

.submit {
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  border-radius: 0px $border-radius $border-radius 0px;
}
