@import 'variables';

.search {
  display: flex;
  padding: 15px;
  height: 100px;
}

.bar {
  @extend .sm-text;
  display: block;
  height: 100%;
  width: 80%;
  padding-left: 10px;
  border: none;
  border-radius: 0px;
  @include respond-to(handhelds) { width: 60%; }
}

.submit {
  @extend .sm-text;
  display: block;
  height: 102%;
  width: 20%;
  @include respond-to(handhelds) { width: 40%; }
}
