@import 'variables';

.text-card {
  @extend .sm-text;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-right: 4px solid $color-4;
  background: $white;
  box-shadow: 1px 1px 1px #888888;
  margin: 10px;
  padding: 5px;
  @include respond-to(handhelds) { width: 100%; }
  @include respond-to(medium-screens) { width: 100%; }
}
