@import 'variables';

.text-card {
  @extend .sm-text;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-3;
  border-radius: 4px;
  margin: 10px 20px 10px 0px;
  padding: 4px 10px;
  color: $color-4;
  background-color: white;
  transition: $transition-duration;
  @include respond-to(handhelds) {
    width: 100%;
    margin-right: 0px;
  }

  &:hover {
    color: white;
    background-color: $color-3;
  }
}
