@import 'variables';

.text-card-list-container {
  display: flex;
  background: $white;
  padding: 20px;
  flex-direction: column;
  flex-basis: 100%;
}

.text-card-list-title {
  @extend .lg-text;
  display: flex;
  justify-content: flex-start;
  color: $black;
}

.text-card-list-content {
  display: flex;
  left: 0;
  right: 0;
  flex-wrap: wrap;
}
