@import 'variables';

.text-card {
  @extend .sm-text;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  margin: 10px 20px 10px 0px;
  padding: 4px 10px;
  color: $color-4;
  background-color: $off-white;
  transition: $transition-duration;
  
  &:hover {
    color: white;
    background-color: $color-2;
  }
}
