@import 'variables';

.topper {
  background: url('../images/cornell.jpg') center;
  height: 75vh;
  background-size: cover;
}

.filter {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topper-links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-self: stretch;
}

.topper-link-item {
  @extend .sm-text;
  display: flex;
  margin-right: 20px;
}

.topper-search {
  display: flex;
  height: 50px;
  padding: 40px;
  @include respond-to(handhelds) { width: 80%; }
  @include respond-to(medium-screens) { width: 80%; }
  @include respond-to(wide-screens) { width: 60%; }
}

.title {
  @extend .xl-text;
  display: flex;
  padding: 100px 0px 40px 0px;
  color: $white;
}

.briefing {
  @extend .md-text;
  font-weight: 400;
  display: flex;
  text-align: center;
  color: $white;
}
