/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
$quicksand: 'Quicksand', sans-serif;

/* Primary colors of app */
$color-1: rgb(222, 244, 239);
$color-2: #70B9BD;
$color-3: #66A8AC;
$color-4: #568E91;
$color-5: #467478;
$off-white: #F5F5F5;
$white: white;
$black: black;
$light-gray: #E6E6E6;
$dark-gray: #656565;
$border-gray: $off-white;

/* Link colors */
$link-dark: rgb(250, 250, 250);
$link-light: rgb(255, 255, 255);

$transition-duration: 0.25s;

/* Icon sizes */
$icon-size: 16px;

/* Easy media queries */
$break-small: 767px;
$break-large: 1024px;

/* Use @include respond-to(handhelds | medium-screens | wide-screens) */
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

/* Overall box border radius */
$border-radius: 4px;

/* Hover / leave over button */
@mixin button-hover($enters-bg, $enters-color, $leaves-bg, $leaves-color) {
  transition: all 0.2s ease;
  transition-property: color, background;
  color: $leaves-color;
  background: $leaves-bg;

  &:hover {
    transition: all 0.2s ease;
    transition-property: color, background;
    color: $enters-color;
    background: $enters-bg;
  }
}

/* Font sizing */
.xl-text { font-size: 64px; font-weight: 500; }
.lg-text { font-size: 32px; font-weight: 400; }
.md-text { font-size: 24px; font-weight: 500; }
.sm-text { font-size: 16px; }
