/* Primary colors of app */
$color-1: rgb(222, 244, 239);
$color-2: rgb(186, 221, 223);
$color-3: rgb(136, 189, 194);
$color-4: rgb(71, 125, 126);
$color-5: rgb(177, 217, 227);
$off-white: rgb(239, 239, 239);
$white: white;
$black: black;
$light-gray: #BFBFBF;
$border-gray: #ccc;

/* Link colors */
$link-dark: rgb(250, 250, 250);
$link-light: rgb(255, 255, 255);

$transition-duration: 0.35s;

/* Easy media queries */
$break-small: 767px;
$break-large: 1024px;

/* Use @include respond-to(handhelds | medium-screens | wide-screens) */
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

/* Overall box border radius */
$border-radius: 3px;

/* Hover / leave over button */
@mixin button-hover($enters-bg, $enters-color, $leaves-bg, $leaves-color) {
  transition: all 0.2s ease;
  transition-property: color, background;
  color: $leaves-color;
  background: $leaves-bg;

  &:hover {
    transition: all 0.2s ease;
    transition-property: color, background;
    color: $enters-color;
    background: $enters-bg;
  }
}

/* Font sizing */
.xl-text { font-size: 40px; font-weight: 400; }
.lg-text { font-size: 30px; font-weight: 400; }
.md-text { font-size: 24px; font-weight: 500; }
.sm-text { font-size: 16px; }
