@import 'variables';

.venue-card {
  cursor: pointer;
  display: inline-flex;
  justify-content: flex-end;
  height: 60px;
  background: $white;
  margin: 20px;
  box-shadow: 1px 1px 1px #888888;
  @include respond-to(handhelds) { width: 100%; }
  @include respond-to(medium-screens) { width: 100%; }
}

.venue-info-item {
  @extend .sm-text;
  padding: 15px;
  flex-grow: 1;
}

.venue-img-item {
  overflow: hidden;
  flex-basis: auto;
  img { height: 100%; }
}
