@import 'variables';

.venue-card-list-container {
  min-height: 25vh;
  background: $white;
  padding: 40px;
  width: calc(100% - 80px);
}

.venue-card-list-title {
  @extend .lg-text;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  color: $color-3;
  font-weight: 500;
}

.venue-card-list {
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @respond-to($handhelds) {
    display: block;
  }
}
