@import 'variables';

.venue-detail-container {
  display: flex;
  padding: 10px;
  color: $white;
}

.venue-detail-info-container {
  flex-basis: auto;
  padding: 10px;
}

.venue-detail-visuals-container {
  flex-direction: column;
  padding: 10px;
}

.venue-map {
  width: 150px;
  height: 150px;
}

.map-marker {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 5;
  top: 5;
  border: 2px solid $color-3;
  border-radius: 10px;
  background-color: $color-4;
  text-align: center;
}
