@import 'variables';

.venue-detail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0px;
  border-top: 1px solid $border-gray;
}

.venue-detail-img {
  flex-basis: 15%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }

  @include respond-to(handhelds) {
    flex-basis: 0%;
  }
}

.venue-detail-text-container {
  flex-basis: 80%;
  margin-left: 5%;

  @include respond-to(handhelds) {
    flex-basis: 100%;
    margin-left: 0%;
  }
}

.venue-detail-title {
  @extend .md-text;
  font-weight: 400;
  flex-basis: 100%;
  @include respond-to(handhelds) {
    font-size: 16px;
  }

  strong {
    font-weight: 500;
  }
}

.venue-detail-name .venue-detail-name:hover, .venue-detail-name:link, .venue-detail-name:visited, .venue-detail-name:active {
  color: $black;
  text-decoration: none;
}

.venue-detail-address {
  @extend .sm-text;
  flex-basis: 100%;
  color: gray;
  p {
    padding: 1px;
    margin: 0px;
  }
}

.venue-detail-description {
  @extend .sm-text;
  margin-top: 15px;
  flex-basis: 100%;
}

.venue-detail-events {
  h3 {
    font-weight: 500;
    margin: 1em 0 0 0;
  }
  p {
    line-height: 1em;
    margin-top: 0.5em;
  }
  @include respond-to(handhelds) {
    font-size: 14px;
  }
}
