@import 'variables';

.venue-card {
  cursor: pointer;
  max-width: 300px;
  min-width: 300px;
  height: auto;
  flex: 1;
  margin: 30px;
  border-radius: $border-radius;
  border: 1px solid $light-gray;
  background: $white;
}

.venue-card .venue-card:hover, .venue-card:link, .venue-card:visited, .venue-card:active {
  color: $black;
  text-decoration: none;
}

.venue-info-item {
  @extend .md-text;
  font-weight: 500;
  padding-bottom: 20px;
  margin: 20px;
  border-bottom: 1px solid $light-gray;
}

.venue-info-address {
  @extend .sm-text;
  color: $dark-gray;
  margin: 20px;
}

.venue-img-item {
  overflow: hidden;
  flex-basis: auto;
  border-radius: $border-radius;
  img {
    width: 100%;
  }
}
