@import 'variables';

.venue-detail-container {
  display: flex;
  margin: 0px 10px 0px 10px;
  padding: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid $border-gray;
  transition: $transition-duration;
  &:hover {
    background-color: $ultra-light-gray;
  }
}

.venue-detail-img {
  flex-basis: 15%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

.venue-detail-text-container {
  flex-basis: 70%;
  margin-left: 5%;
}

.venue-detail-title {
  @extend .md-text;
  flex-basis: 100%;
  @include respond-to(handhelds) {
    flex-basis: 80%;
    font-size: 16px;
  }
}

.venue-detail-address {
  @extend .sm-text;
  flex-basis: 100%;
  color: gray;
  @include respond-to(handhelds) {

  }
  p {
    padding: 1px;
    margin: 0px;
  }
}

.venue-detail-description {
  @extend .sm-text;
  margin-top: 15px;
  flex-basis: 100%;
}
