@import 'variables';

.venue-card-container {
  display: flex;
  justify-content: flex-end;
  height: 100px;
  background: $white;
  @include respond-to(handhelds) { margin: 0px 0px 40px 0px; width: 100%; }
  @include respond-to(medium-screens) { margin: 0px 0px 40px 0px; width: 100%; }
  @include respond-to(wide-screens) { margin: 0px 40px 40px 40px; }
}

.venue-info-item {
  @extend .sm-text;
  padding: 15px;
  flex-grow: 1;
}

.venue-img-item {
  overflow: hidden;
  flex-basis: auto;
  img { height: 100%; }
}
