alembic==0.8.10
apiclient==1.0.3
appdirs==1.4.0
argh==0.26.2
autoenv==1.0.0
boto==2.46.1
bz2file==0.98
click==6.7
cycler==0.10.0
dill==0.2.6
enum-compat==0.0.2
enum34==1.1.6
facebook-sdk==2.0.0
Flask==0.12
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
gensim==2.0.0
gevent==1.2.1
google-api-python-client==1.6.2
greenlet==0.4.12
gunicorn==19.7.1
haversine==0.4.5
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.11.3
Mako==1.0.6
MarkupSafe==0.23
marshmallow==2.12.2
marshmallow-sqlalchemy==0.12.1
matplotlib==1.5.3
numpy==1.12.1
oauth2client==4.0.0
packaging==16.8
pathtools==0.1.2
psycopg2==2.7
pyasn1==0.2.3
pyasn1-modules==0.0.8
pyparsing==2.1.10
python-dateutil==2.6.0
python-editor==1.0.3
python-engineio==1.2.2
pytz==2017.2
PyYAML==3.12
requests==2.13.0
rsa==3.4.2
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
sklearn==0.0
smart-open==1.5.2
SQLAlchemy==1.1.5
uritemplate==3.0.0
urllib3==1.20
watchdog==0.8.3
Werkzeug==0.11.15
